# Data Science Tools and Ecosystems

## In this notebook, Data Science Tools and Ecosystems are summarized.

### Some of the popular languages are:

1. Python
2. R 
3. SQL
4. Scala 
5. Julia 
6. Java
7. C++

 ## Objectives:

+ Libraries used by Data Scientist
+ Tools used by Data Scientist
+ Arithmetic Operation usin Python

### Some of the commomly used libraries used by Data Scientist include:
1. Pandas
2. Matplotlib
3. Scikit-learn
4. Numpy
5. Seaborn
6. Keras 
7. Tensorflow
8. ggplot2

### Some of the tools used by the Data Scientist include:

|Data Management Tools|Data Integration Tools|Data Visualization Tools|
|-------|------|------|
|My SQL | Apache Airflow| Tableau |
|MongoDB |Apache Kafka | PowerBI |
|Apache Hadoop |Talend| Cognos Analytics|

### Below are the few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.
200//60

3

## Author

Rishita Sharma